@import "tailwindcss";

:root {
  --title-font: "Holtwood_One_SC";
  --main-font: "lato";
  --green-color: #26bd62;
  --grey-color: #1a191b;
  --red-color: #ff1a1a;
  --footer-grey-bg: #1b1919;
}

/* index.php loader animation */
@keyframes animation-loader {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(2);
    transform: scale(1.1);
  }

  100% {
    filter: brightness(1);
  }
}

.animation {
  animation: animation-loader 2s ease-in-out infinite;
}

/* import fonts */
@font-face {
  font-family: "Holtwood_One_SC";
  src: url("assets/fonts/Holtwood_One_SC/HoltwoodOneSC-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "lato";
  src: url("assets/fonts/lato/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

.font-title {
  font-family: var(--title-font);
  font-size: 20px;
  color: white;
}

.font-main {
  font-family: var(--main-font);
  font-size: 16px;
}

/* colors class */
.green-color {
  background-color: var(--green-color);
}

.grey-color {
  background-color: var(--grey-color);
}

.footer-grey-bg {
  background-color: var(--footer-grey-bg);
}

.hover-green:hover {
  color: var(--green-color);
}

.focus-green:focus {
  color: var(--green-color);
}

.group:hover .hover-green {
  color: var(--green-color);
}

.group:hover .hover-fill-green {
  fill: var(--green-color);
}

.group:focus .hover-green {
  color: var(--green-color);
}

.group:focus .hover-fill-green {
  fill: var(--green-color);
}

.red-color {
  color: var(--red-color);
}

.green-color-text {
  color: var(--green-color);
}

.green-color-border-bottom {
  border-bottom: 2px solid var(--green-color);
}

.green-color-border-top {
  border-top: 2px solid var(--green-color);
}

.red-bg {
  background-color: var(--red-color);
}
